.parallax-container {
    height: 100vh;
}
.parallax-container.body{
    height:100px;
}
.brandstamp-container{
    width:100%;
    position:absolute;
    z-index:994;
    text-align: center;
    top: 5px;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
}
.brandstamp{
    width: 50%;
}
nav{
    padding: 2em 2em;
    background: transparent;
    box-shadow: none;
}
.navbar-fixed{
    height: 0px !important;
}
#sidenav-overlay {
    z-index: 996;
}
.nav-wrapper a {
    color:#292929;
    font-size:1.5em;
}
.brand-logo{
    top: 10px;
    left: 10px;
}
.nav-wrapper {
    padding-top: 2em;
}
p {
    font-size:1.4rem;
}


@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 125px;
    }
}
@media only screen and (max-width: 979px){
    nav{
        padding: 0 0 !important;
    }
    .brand-logo{
        top: 10px;
    }
    .brandstamp{
        width: 85%;
    }
    .brandstamp-container{
        top:150px;
    }
}
@media only screen and (min-width: 1440px){
    .container .row {
        margin-left: -10.75rem;
        margin-right: -10.75rem;
    }
}